/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Main CSS */
:root {
  --accent-orange: #f07e15;
  --accent-black: #000000;
  --accent-grey: #161615;
  --accent-white: #ffffff;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: var(--accent-white);

  > header {
    background-color: #1a1a1a;
    color: #626262;
    font-family: "Poppins", sans-serif;
    font-size: 10px;

    .container {
      max-width: 1920px;
      display: flex;
      justify-content: space-between;
      margin: auto;
      padding: 14px 20px;

      .left {
        display: flex;
        height: fit-content;
        margin-block: auto;

        > div {
          border-right: 1px solid #626262;
          padding-right: 8px;
          margin-right: 11px;
          display: flex;
          gap: 3px;
        }
      }

      .right {
        display: flex;

        > button {
          background: none;
          border: none;
          color: inherit;
        }

        .socials {
          display: flex;
          margin-block: auto;
          gap: 12px;
          align-items: center;

          > p {
            display: none;
          }
        }
      }
    }
  }

  > main {
    .hero {
      background: url(assets/hero-bg.png);
      background-color: var(--accent-grey);
      min-height: 682px;
      position: relative;
      overflow: hidden;

      > nav {
        display: flex;
        justify-content: space-between;
        padding-block: 20px 5px;
        margin-inline: 20px;
        border-bottom: 1px solid var(--accent-white);

        .header {
          > a {
            text-decoration: none;
            color: var(--accent-white);
            font-family: "Poppins", sans-serif;
            font-size: 30px;
            font-weight: 200;
          }

          .cart {
            display: none;
          }
        }

        .nav-items {
          display: none;
        }
      }

      .left {
        width: 100%;
        position: absolute;
        bottom: 0;

        .text {
          font-family: "Syne", sans-serif;
          font-size: 55px;
          font-weight: 800;
          line-height: 125%;
          color: var(--accent-white);
          margin-bottom: 30px;

          > p:nth-child(1) {
            margin-left: 5%;
          }

          > p:nth-child(2) {
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            margin-left: 21%;
          }

          > p:nth-child(3) {
            margin-left: 12%;
          }
        }

        .see-more {
          border-top: 1px solid var(--accent-white);
          width: 45%;
          padding: 50px 20px 40px;
          position: relative;

          > img {
            position: absolute;
            top: -46px;
            right: -32px;
          }

          .btn {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0;
            background: transparent;
            color: var(--accent-white);
            border: 1px solid var(--accent-white);
          }
        }
      }

      .img {
        .orange-bg {
          height: 300px;
          background-color: var(--accent-orange);
          width: 100%;
          position: absolute;
          bottom: 80px;

          > img {
            position: absolute;
            right: -140px;
            top: -200px;
          }
        }

        > img {
          position: absolute;
          bottom: 0;
          right: -70px;
        }
      }
    }

    .contact {
      background-image: url(assets/map.png);
      padding: 50px 20px;

      > div {
        > div {
          color: var(--accent-white);
          opacity: 50%;
          text-align: center;

          > h3 {
            font-family: "Syne", sans-serif;
            font-size: 26px;
            font-weight: 600;
          }

          > p {
            font-family: "Work Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            max-width: 290px;
            margin-inline: auto;
          }
        }

        > form {
          position: relative;

          > input {
            background: transparent;
            border: none;
            width: 100%;
            border-bottom: 1px solid var(--accent-white);
            padding: 0 10px 8px;
            margin-top: 27px;
            color: var(--accent-white);

            &::placeholder {
              font-size: 18px;
              font-weight: 400;
              text-transform: uppercase;
            }

            &:focus {
              outline: none;
            }
          }

          > button {
            background: transparent;
            color: var(--accent-orange);
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            line-height: 66%;
            border: 1.2px solid var(--accent-orange);
            height: 100px;
            aspect-ratio: 1;
            border-radius: 50%;
            position: absolute;
            right: 0;
            bottom: -163px;
          }
        }
      }

      > p {
        font-family: 'Syne', sans-serif;
        font-size: 55px;
        font-weight: 800;
        line-height: 67.6%;
        text-transform: uppercase;
        color: var(--accent-white);
        margin-top: 77px;
      }
    }

    > footer {
      background-color: var(--accent-black);
      color: var(--accent-white);
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      font-weight: 400;
      display: grid;
      place-items: center;
      padding-block: 15px;
    }
  }
}
